/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  background: ##584c46;
  padding: 30px 0;
  color: #f8ecc2;

  .copyright {
    text-align: center;
  }

  .credits {
    padding-top: 10px;
    text-align: center;
    font-size: 13px;
    color: #ccc;

  }

}
